<div class="test1">
<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <% if current_user != user%>
      <% if current_user.pending_friends.include?(user) %>
        <p>Pending</p>
      <% else %>
        <%= link_to 'friend request', user_friendships_path(user), method: :post%>
      <% end %>
    <% end %>
  </span>
</li>
</div>