<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <% if current_user != user%>
      <%= link_to 'invite', user_friendships_path(user), method: :post%>
    <% end %>
  </span>
</li>